{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login Administrador - GuiaSuap </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body class="admin-login-page">
    <div class="amin-login-card">

<!-- lado esquerdo -->
        <section class="admin-login-left">

            <div class="brand">
                <img src="{%static 'img/logomarca.png' %}" alt="Logo do GuiaSuap">
            </div>

            <h2> Área administrativa </h2>

            <p> Gerencie os conteúdos e recursos do GuiaSuap de forma segura.</p>

            <div class="admin-features">
                <div class="admin-features">
                    <div class="admin-features-icon">
                         ✓
                    </div>
                </div>

                <div>
                    <strong> Gerencie conteúdos </strong>

                    <p> Adicione e atualize tutoriais.</p>
                </div>
            </div>

            <div class="admin-features">
                <div class="admin-features-icon">
                     ✓
                </div>

                <div>
                    <strong> Gerencie usuários </strong>

                    <p> Controle o acesso administrativo. </p>
                </div>
            </div>

            <div class="admin-features">
                <div class="admin-features-icon">
                     ✓
                </div>

                <div>
                    <strong> Administrar o sistema </strong>

                    <p> Matenha o GuiaSuap organizado. </p>
                </div>
            </div>
        </section>

        <!--lado direito--->
        <section class="admin-login-right">

            <div class="admin-login-content">

                <div class="admin-icon">
                    🔐
                </div>
            </div>
        </section>

    
</body>
</html>